<div id="sidebarSettings">
  <app-sidebar-user></app-sidebar-user>
  <nz-divider></nz-divider>
  <div>
    <h2>主题</h2>
    <nz-radio-group [(ngModel)]="theme" (ngModelChange)="onThemeChange()">
      <label nz-radio nzValue="classic">经典</label>
      <label nz-radio nzValue="dark_plus">vsc暗色</label>
      <label nz-radio nzValue="light_plus">vsc浅色</label>
      <label nz-radio nzValue="monokai">Monokai</label>
    </nz-radio-group>
  </div>
  <nz-divider></nz-divider>
  <app-sidebar-feedback></app-sidebar-feedback>
</div>
