<div id="tabContainer">
  <nz-tabset nzType="editable-card" [(nzSelectedIndex)]="activeIndex" [nzTabBarExtraContent]="languageSelect"
    (nzClose)="closeTab($event)" nzHideAdd cdkDropList cdkDropListOrientation="horizontal"
    (cdkDropListDropped)="cdkOnDrop($any($event))">
    <nz-tab *ngFor="let tab of tabList" [nzTitle]="titleTemplate" [nzClosable]="tab.type !== 'pinned'">
      <ng-template #titleTemplate>
        <div cdkDrag class="tab-title">
          {{ tab.title }}
          <span *ngIf="tab.type === 'local' && !tab.saved">*</span>
        </div>
      </ng-template>
    </nz-tab>
  </nz-tabset>
  <ng-template #languageSelect>
    <nz-select id="languageSelect" *ngIf="tabList[activeIndex]?.type === 'pinned'" [(ngModel)]="currentLang">
      <nz-option *ngFor="let i of languages" [nzValue]="i.id" [nzLabel]="i.title"></nz-option>
    </nz-select>
  </ng-template>
  <div id="routerWrapper">
    <router-outlet></router-outlet>
  </div>
</div>
<nz-modal [nzVisible]="!!notSaveModalTab" nzTitle="未保存" (nzOnCancel)="notSaveModalCancel()">
  <ng-container *nzModalContent>
    是否保存为 {{ notSaveModalTab?.title }}？
  </ng-container>
  <div *nzModalFooter>
    <button nz-button nzType="primary" (click)="notSaveModalYes()">是</button>
    <button nz-button nzType="default" (click)="notSaveModalNo()">否</button>
    <button nz-button nzType="default" (click)="notSaveModalCancel()">取消</button>
  </div>
</nz-modal>
