<as-split unit="percent" direction="horizontal" id="fileioContainer">
  <as-split-area [order]="0" [size]="50" id="stdinAsArea">

    <div style="display: flex; flex-direction: column;">
      <div>
        <textarea nz-input [nzAutosize]="{ minRows: 6,maxRows: 10}" [(ngModel)]="stdin"></textarea>
      </div>
    </div>
  </as-split-area>
  <as-split-area [order]="1" [size]="50" id="stdoutAsArea">
    <div id="Container">
      <button nz-button nzSize="large" (click)="compile()"><i nz-icon nzType="play-circle"></i>文件编译运行</button>
    </div>
    <div id="Output" style="display: flex; flex-direction: row;">
      <div>
        <p>{{stdout}}</p>
      </div>
    </div>
  </as-split-area>
</as-split>
