#outputContainer {
  display       : flex;
  flex-direction: column;
  height        : 100%;

  #fileioButtons {
    padding      : 10px;
    padding-top  : 0;
    border-bottom: 1px solid #f3f3f3;
  }

  #fileioTexts {
    flex-grow: 1;

    $monospace: "等距更纱黑体 SC", "Cascadia Code", Consolas, "Courier New", Courier, monospace;


    #stdinContent,
    #stdoutContent {
      width      : 100%;
      height     : 100%;
      font-family: $monospace;
      font-size  : 16px;
      padding    : 0 5px;
    }

    #stdinContent {
      display: block;
      border : 0;
      resize: none;
    }

    #stdinContent:focus-visible {
      outline: none;
    }

    #stdoutContent {
      white-space: pre-line;
      word-break: break-all; 
    }

    #stdoutContent.gray {
      color: #757575;
    }
  }

}
