#mainViewContainer {
  display: flex;
  flex-direction: row;
  height: 100%;

  #activityBarIconConatiner {
    display: flex;
    flex-direction: column;
    background-color: #2c2c2c;
    list-style-type: none;
    padding: 0;
    width: 48px;
    height: 100%;

    .activity-bar-icon {
      display: block;
      color: #808080;
      font-size: 24px;
      line-height: 24px;
      padding: 12px;
    }

    .activity-bar-icon:hover {
      color: white;
    }

    .active.activity-bar-icon {
      color: white;
      box-shadow: inset 2px 0 white;
    }
  }
  
  #asContainer {
    flex-grow: 1;
  }
}
[nz-input]{
  width: 850px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: block;
}
