#mainViewContainer {
  display: flex;
  flex-direction: row;
  height: 100%;

  #activityBarIconConatiner {
    display: flex;
    flex-direction: column;
    background-color: #2c2c2c;
    list-style-type: none;
    padding: 0;
    width: 48px;
    height: 100%;

    .activity-bar-icon {
      display: block;
      color: #808080;
      font-size: 24px;
      line-height: 24px;
      padding: 12px;
    }
  }
  
  #asContainer {
    flex-grow: 1;
  }
}
