<div id="mainViewContainer">
  <ul id="activityBarIconConatiner">
    <li *ngFor="let i of sidebarItems" class="activity-bar-icon" [title]="i.title"
      [ngClass]="currentOutletUrl('sidebar') === i.url ? ['active'] : []" (click)="showSidebar(i.url)">
      <i nz-icon [nzType]="i.icon"></i>
    </li>
  </ul>
  <div id="asContainer">
    <as-split unit="pixel" direction="horizontal" id="horizontalAs">
      <as-split-area [order]="0" [size]="350" id="sidebarAsArea" [visible]="currentOutletUrl('sidebar') !== null">
        <router-outlet name="sidebar"></router-outlet>
      </as-split-area>
      <as-split-area [order]="1" [size]="$any('*')">
        <as-split unit="pixel" direction="vertical" id="verticalAs">
          <as-split-area [order]="0" [size]="$any('*')" id="tabsAsArea">
            <app-tabs></app-tabs>
            <button nz-button *ngIf="currentOutletUrl('tools') === null" id="showToolsFab" nzShape="circle" (click)="showTools('output')">
              <i nz-icon nzType="plus"></i>
            </button>
          </as-split-area>
          <as-split-area [order]="1" [size]="300" id="toolsAsArea" [visible]="currentOutletUrl('tools') !== null">
            <nz-tabset nzType="card" [nzTabBarExtraContent]="outputSelect" [nzSelectedIndex]="currentToolsIndex">
              <nz-tab *ngFor="let i of toolsItems" [nzTitle]="i.title" (nzClick)="showTools(i.url)">
              </nz-tab>
            </nz-tabset>
            <ng-template #outputSelect>
              <nz-select id="outputSelect" *ngIf="currentOutletUrl('tools') === 'output'" ngModel="fileio">
                <nz-option nzValue="fileio" nzLabel="文件输入输出"></nz-option>
                <nz-option nzValue="solution" nzLabel="评测结果"></nz-option>
              </nz-select>
              <button nz-button nzType="text" nzShape="circle" (click)="showTools(null)">
                <i nz-icon nzType="close"></i>
              </button>
            </ng-template>
            <div id="toolsContainer">
              <router-outlet name="tools"></router-outlet>
            </div>
          </as-split-area>
        </as-split>
      </as-split-area>
    </as-split>
  </div>
</div>
