<div class="container">
    <nz-collapse [nzGhost]="true">
        <nz-collapse-panel
          *ngFor="let panel of panels"
          [nzHeader]="panel.name"
          [nzActive]="panel.active"
          [nzDisabled]="panel.disabled"
        >
        </nz-collapse-panel>
        <nz-collapse-panel
          *ngFor="let panel1 of panels1"
          [nzHeader]="panel1.name"
          [nzActive]="panel1.active"
          [nzDisabled]="panel1.disabled"
        >
        </nz-collapse-panel>
        <nz-collapse-panel
          *ngFor="let panel2 of panels2"
          [nzHeader]="panel2.name"
          [nzActive]="panel2.active"
          [nzDisabled]="panel2.disabled"
        >
        </nz-collapse-panel>
    </nz-collapse>
</div>
    