<form nz-form [formGroup]="emailForm" (ngSubmit)="onSubmit()">
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="email">E-mail</nz-form-label>
    <nz-form-control nzHasFeedback [nzSm]="14" [nzXs]="24" [nzErrorTip]="emailErrorTip">
      <input nz-input formControlName="email" id="email" />
      <ng-template #emailErrorTip let-control>
        <ng-container *ngIf="control.hasError('required')">请输入邮箱</ng-container>
        <ng-container *ngIf="control.hasError('unfound')">邮箱未注册</ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <button nz-button [nzType]="'primary'" [nzLoading] = "isLoading">
    找回密码
  </button>
</form>
