<div class="container">
  <h2>帮助文档</h2>
  <nz-tabset nzTabPosition='left' nzSize='small'>
    <nz-tab nzTitle="编辑器">
      <p>支持语言:C++</p>
      <p>支持文件编译运行和交互式编译运行两种方式，提供运行信息与错误报告</p>
      <p>支持代码补全与智能提示功能</p>
      <p>编辑器内有搜索替换功能(快捷键Ctrl+F)</p>
      <p>常用快捷键:复制(Ctrl+C),粘贴(Ctrl+V),剪切(Ctrl+X),全选(Ctrl+A)</p>
      <p>更多功能(比如放大缩小编辑器字体)在编辑器内右键选择Command Palette可以查看(快捷键 F1)</p>
    </nz-tab>
    <nz-tab nzTitle="工具栏">
      <p>工具栏共有三个栏目，分别为:输出，调试，问题</p>
      <p>输出:包含文件输入输出，文件编译运行,展示程序输出</p>
      <p>调试:调试控制台,提供程序调试功能(已经初步实现)</p>
      <p>问题:以类似表格的形式查看程序编译的错误信息,警告信息和出现位置</p>
    </nz-tab>
    <nz-tab nzTitle="侧边栏">
      <p>常用:常用功能，编译运行，以及代码大纲(符号列表)</p>
      <p>调试:调试相关内容:变量查看，表达式求值，调用栈等</p>
      <p>题目列表:编程网格,可以查看题目列表，题目信息，编译运行和提交代码</p>
      <p>帮助:提供简单的帮助信息以及网页相关信息</p>
    </nz-tab>
    <nz-tab nzTitle="OJ">
      <p>查看题目列表和题目信息不需要登录账号即可查看</p>
      <p>如果需要提交程序并查看提交结果,需要打开网页登录并保持登录状态</p>
      <p>目前Clavicode与编程网格登录系统尚未对接</p>
      <p>因为编程网格api接口已经修改，对接未完成，本功能暂时禁用</p>
    </nz-tab>
    <nz-tab nzTitle="调试">
      <p>调试采用断点调试的模式，和VSCODE的调试类似，具体参考如下：</p>
      <p>点击工具栏的调试页面，进入调试窗口</p>
      <p>在编辑器内代码左边单击鼠标左键，选出断点(该行高亮红色)，然后点击调试窗口的开始键开始调试</p>
      <p>调试时编辑器内会蓝色高亮当前调试运行位置，同时交互式窗口内会显示输入输出。</p>
      <p>调试时的五个按钮从左到右分别为:</p>
      <p>1 从当前位置执行到最后断点处结束</p>
      <p>2 从当前位置执行一行语句，如果是函数，则直接实行所有函数的内容</p>
      <p>3 从当前位置执行一行语句，如果遇到函数，则进入函数，执行到函数的第一行语句位置</p>
      <p>4 当前位置如果在函数中执行，则执行该函数所有的语句，跳出函数</p>
      <p>5 重新启动，目前没有实现这项功能</p>
    </nz-tab>
    <nz-tab nzTitle="关于">
      <p>Clavicode是一个支持交互式运行和智能提示的网页端编辑器，支持C++等语言</p>
      <p>小组成员:陈思元,谷雨,郭易,张钰麟,周陶铸</p>

    </nz-tab>
  </nz-tabset>
</div>
<!--
第一页放常用功能，编译运行，以及代码大纲（符号列表）
第二页放调试相关内容，变量查看，表达式求值，调用栈等
第三页是编程网格，查看题目列表，题目信息，提交代码
第四页暂定。可以加一些编译参数、运行参数设置之类的
下面工具栏：
要有这几页：
问题页：以类似表格的形式查看编译错误和警告
输出页：展示一些程序输出和系统日志
调试页：调试控制台
-->
